six
django
openai
langchain
langchain_openai
langchain_core
python-dotenv
streamlit
langchain_community
langserve
fastapi
gunicorn==21.2.0
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
unstructured
mysqlclient


#in settings.py of django_chatbot for SMTP Configuration replace ur email and password

# For privacy create one app password in gmail-> manage account-> security-> ->turn on 2factor verification ->in the bottom app password -> give some name for app -> copy paste generated app pass here in smtp configuration