{% extends 'base.html' %}
{% load static %}

{% block title%}
AI-Assessments
{% endblock%}

{% block styles %}
<style>
  /* Existing styles */

.main-container {
  display: flex;
}

.chat-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  /*padding-top: 55px;*/
  padding-left: 250px;
  padding-bottom: 55px;
}
.card{
  flex-grow:1;
}
  .vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .message-form {
    width: 300%;
    max-width: 700px; /* Adjust as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(202, 20, 87, 0.759);
    font-family: poppins;
  }

  .form-group {
    margin-bottom: 25px;
  }

  .form-control {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
  }

  .btn-send {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #dc3265;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(202, 20, 87, 0.759);
  }

  .btn-send:hover {
    background-color: #af0d3e;
    color: #ffffff;
  }

  .btn-send:active {
    background-color: #7f0b2e;
    color: #ffffff;
  }

  .navbar {
  display: flex;
  background-color: #efefef; /* Background color */
  width:100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}

.nav-item {
  margin-right: 10px; /* Adjust the spacing between nav items */
}

.nav-link {
  color: #f44067; /* Text color */
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  margin-right: 5px; /* Adjust as needed */
  padding-left: 10; /* Removes padding on the left */
  padding-right: 0;
}

.nav-link:hover {
  background-color: #cccccc; /* Hover background color */
  color:#dc3265  
}

#loadingIndicator {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .spinner {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    position: relative;
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #09f;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .form-group-container {
  display: flex;
  justify-content: space-between;
}

.form-group {
  margin-left: 20px;
  margin-right: 20px; /* Adjust spacing between form groups */
}
</style>
{% endblock %}


{% block content %}
<div class="main-container">
  {% include 'sidebar.html' %}

<div class="chat-container">
 
    
  
    <div class="card-body messages-box">

      <ul class="list-unstyled messages-list">
        <!-- Messages List -->
      </ul>

      <div class="vertical-center">
        <h2><strong>Assessment Generator</strong></h2>
        <br>
        <form class="message-form">
          {% csrf_token %}
          <!--Grade Added-->
          <div class="form-group">
            <label for="grade">Select Grade:</label>
            <select class="form-control" style="width:12%;" name="grade"  required>
              <option disabled value="">Select your Grade:</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>

          <!--Board added
          
          <div class="form-group" style="display: inline-block;">
            <label for="board">Board:</label>
            <select class="form-control" style="width:15%" name="board" required>
              <option disabled value="">Select your Education Board:</option>
              <option value="CBSE">CBSE</option>
              <option value="ICSE">ICSE</option>
            </select>
          </div>
        -->
          
          
          <div class="form-group">
            <label for="subjects">Select Subjects:</label>
            <select class="form-control" name="subjects"  required>
              <option disabled value="">Select your Subjects:</option>
              <option value="english">English</option>
              <option value="science">Science</option>
              <option value="maths">Maths</option>
            </select>
          </div>

          <div class="form-group">
            <label for="topics">Enter Topic:</label>
            <input type="text" class="form-control" name="topics" placeholder="Enter Topic" required>
          </div>

          <div id="loadingIndicator">
            <div class="spinner"></div>
            <div>Generating Assessment...</div>
          </div>
          

          <div class="form-group">
            <label for="assessment_type">Assessment Type:</label>
            <select class="form-control" name="assessment_type" required>
              <option disabled value="">Select Assessment Type:</option>
              <option value="Multiple Choice Questions">Multiple Choice Questions</option>
              <option value="True and False">True and false</option>
            </select>
          </div>

          <div class="form-group-container">
            <div class="form-group" style="width:40%;">
              <label for="num_questions">Enter Number of Questions:</label>
              <input type="number" class="form-control" name="num_questions" min="1" max="10" required>
            </div>
          
            <div class="form-group" style="width:20%;">
              <label for="level">Difficulty:</label>
              <select class="form-control" name="level" required>
                <option disabled value="">Difficulty level:</option>
                <option value="Easy">Easy</option>
                <option value="Hard">Hard</option>
              </select>
            </div>
          </div>

          <button type="submit" class="btn btn-send">Generate Assessment</button>
        </form>
      </div>

    </div>
  </div>
</div>
<!--</div>-->

<script>
  const messagesList = document.querySelector('.messages-list');
  const messageForm = document.querySelector('.message-form');
  const gradeInput = document.querySelector('[name="grade"]');
  const messageInput = document.querySelector('[name="subjects"]');
  const topicsInput = document.querySelector('[name="topics"]');
  const assessmentTypeSelect = document.querySelector('[name="assessment_type"]');
  const numQuestionsInput = document.querySelector('[name="num_questions"]');
  const levelInput = document.querySelector('[name="level"]');

  const loadingIndicator = document.getElementById('loadingIndicator');

  messageForm.addEventListener('submit', (event) => {
    event.preventDefault();

    // Show the loading indicator
    loadingIndicator.style.display = 'block';

    const grade = gradeInput.value;
    const message = messageInput.value;
    const topics = topicsInput.value;
    const assess_type = assessmentTypeSelect.value;
    const num_ques = numQuestionsInput.value;
    const level = levelInput.value;

    let assessmentUrl = '';

    if (assess_type === 'Multiple Choice Questions') {
      assessmentUrl = '/interface';
    } else if (assess_type === 'True and False') {
      assessmentUrl = '/true_n_false_interface';
    }

    const combinedMessage = `Generate ${num_ques} ${assess_type} on ${topics} for the subject ${message} for a student of grade ${grade} of ${level} difficulty type.`;

    const messageItem = document.createElement('li');
    messageItem.classList.add('message', 'sent');
    messageItem.innerHTML = ``;
    messagesList.appendChild(messageItem);

    messageInput.value = '';
    topicsInput.value = '';

    fetch('', {
      method: 'POST',
      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
      body: new URLSearchParams({
        'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
        'message': combinedMessage
      })
    })
      .then(response => response.json())
      .then(data => {
        const response = data.response;
        window.location.href = assessmentUrl + '?assessment_data=' + encodeURIComponent(response);
        const messageItem = document.createElement('li');
        messageItem.classList.add('message', 'received');
        messageItem.innerHTML = ``;
        messagesList.appendChild(messageItem);

        // Hide the loading indicator once the page is redirected
        loadingIndicator.style.display = 'none';
      });
  });

</script>

{% endblock %}
