{% extends 'base.html' %}

{% block title%}
Edit Profile
{% endblock%}

{% block head %}
<!-- Include Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<style>
  .form-container {
    padding: 20px;
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;

  }
  .btn-custom {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    padding-left: 270px; */ /* Remove or adjust this line */
/* padding-bottom: 10px; */
    margin-top: 15px;
   
  }
    
</style>
{% endblock %}
    

{% block content %}

<div class="main-container">
    {% include 'sidebar.html' %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 form-container">
      <h2>Edit Profile</h2>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-custom">Save changes</button>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock %}
