{% extends 'base.html' %}
{% load static %}

{% block title %}True or False Questions{% endblock %}

{% block styles %}
<style>
  body, html {
    height: 100%;
    margin: 0;
    font-family: 'poppins', sans-serif;
  }

  .main-container {
    display: flex;
  }

  .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    padding-top: 55px;
    padding-left: 150px;
    padding-bottom: 55px;
  }

  .card {
    width: 100%;
    max-width: 800px;
  }

  .card-body {
    padding: 1.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }

  .btn-primary {
    background-color: #dc3265;
    border-color: #dc3265;
  }

  .btn-primary:hover {
    background-color: #af0d3e;
    border-color: #af0d3e;
  }
</style>
{% endblock %}

{% block content %}
<nav class="navbar">
  {% if user.is_authenticated %}
  <a class="nav-link" style="margin-right:auto;" href="{% url 'dashboard' %}">Dashboard</a>
  <a class="nav-link" style="margin-left: auto;" href="logout">Logout</a>
  {% else %}
  <a class="nav-link" style="margin-right:auto;" href="signin">Login</a>
  <a class="nav-link" style="margin-left: auto;" href="register">Register</a>
  {% endif %}
</nav>

<div class="main-container">
  {% include 'sidebar.html' %}
  <div class="container">
    <h1>True or False Questions</h1>
    <hr>
    <form method="post" id="trueFalseForm">
      {% csrf_token %}
      {% for question in true_false_questions %}
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ question.question }}</h5>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="true_{{ question.id }}" name="answer_{{ question.id }}" value="true">
            <label class="form-check-label" for="true_{{ question.id }}">True</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="false_{{ question.id }}" name="answer_{{ question.id }}" value="false">
            <label class="form-check-label" for="false_{{ question.id }}">False</label>
          </div>
        </div>
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
